body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 7px;
  background: white;
}

/* Styling the track of the scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Styling the thumb (the draggable scrolling handle) */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}

/* The thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 99, 99);
}

.MuiModal-root .MuiPaper-root {
  background: #171943;
  box-shadow: 0px 49px 107px 46px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.MuiModal-root .MuiPaper-root li {
  padding-left: 25px !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 281.19%;
  /* or 39px */
}
